.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

#vader {
    font-size: 1.5em;
}

#luke {
    font-style: italic;
}

.soldado {
    border: 5px dashed rgb(0, 0, 0); 
    padding: 5px; /* espacio entre letras */
    letter-spacing: 30px;
}

.apoyo {
    text-align: center;
}

.nave {
    text-transform: uppercase;
}